@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}
html,
body,
:root{
    height: 100%;
    width: 100%;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}

::-webkit-scrollbar {
    @apply hidden
}

/* <<<<<<< HEAD


=======
>>>>>>> 5021101e2d90a6ddb957be4d8ff8f568a5bd6ada */
